{% extends 'base.html' %}
{% block content %}
<body>
  <h1 style="text-align: center;">Login</h1>
  <div class="container">
    <form method="POST" action="{% url 'login'%}">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          ID : <input type="text" name="username" id="email" class="inpt" required="required" placeholder="Your id" width="40px">
        </div>
      </div>

    </form>
   


  </div>
  <form method="POST" action="{% url 'login'%}">
    {% csrf_token %}
    아이디 : <input type="text" name="username" id="email" class="inpt" required="required" placeholder="Your id"> <br>
    
    패스워드 : <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">
    
    <div class="submit-wrap">
      <input type="submit" value="로그인" class="submit">
    </div>
  </form>
  <br>
  <h2><a href="{% url 'home'%}" style="color:black">Home</a></h2>
</body>

{% endblock %}