{% extends 'base.html' %}
{% block content %}
<body>
  {% if error %}
  {{error}}
  {% endif %}
  <h1 style="text-align: center; font-size: 10em; font-family: 'Roboto', sans-serif; font-family: 'Abril Fatface', cursive; ">Pamph Law !</h1>
  <br>
  <div class="container">
    <form method="POST" action="{% url 'login'%}">
      {% csrf_token %}
      <div class="row">
        <div class="col" style="text-align: center;">
          <div class="form-group">
            <input type="text" name="username" id="email" class="input" required="required" placeholder="Your id" size="50">
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align: center;">
         <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password" size="50" >
        </div>
      </div>
      
      <div class="row">
        <div class="col" style="text-align: center; ">
          <div class="submit-wrap">
            <button type="submit" class="btn btn-outline-dark" style="padding:10px; margin-top: 30px; margin-left: 10px;">Login</button>
          </div>
        </div>
      </div>

    </form>
   
  </div>
  <br>
  <h2 style="text-align: center;"><a href="{% url 'home'%}" style="color:black; font-size: 3em; font-family: 'Roboto', sans-serif; font-family: 'Abril Fatface', cursive;">Home</a></h2>
</body>

{% endblock %}