{% extends 'base.html' %}
{% block content %}
{% if error %}
{{error}}
{% endif %}
<body>
    
    <h1 style="text-align: center; font-size: 10em; font-family: 'Roboto', sans-serif; font-family: 'Abril Fatface', cursive; ">Pamph Law !</h1>
    <br>
    <br>
        <div class="container">
            <form method="POST" action="{% url 'signup' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col" style="text-align: center;">
                  <div class="form-group">
                    <input type="text" name="username" id="email" class="input" required="required" placeholder="Your id" size="50">
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col" style="text-align: center;">
                    <div class="form-group">
                      
                 <input type="password" name="password1" id="password1" class="inpt" required="required" placeholder="Your password" size="50" >

                </div>
                </div>
              </div>

              <div class="row">
                <div class="col" style="text-align: center;">
                <div class="form-group">

                 <input type="password" name="password2" id="password" class="inpt" required="required" placeholder="Check Your password" size="50" >

                </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col" style="text-align: center; ">
                  <div class="submit-wrap">
                    <button type="submit" class="btn btn-outline-dark" style="padding:10px; margin-top: 30px; margin-left: 10px;">Sign up</button>
                  </div>
                </div>
              </div>
        
            </form>
           
          </div>
          <br>
          <h2 style="text-align: center;"><a href="{% url 'home'%}" style="color:black; font-size: 3em; font-family: 'Roboto', sans-serif; font-family: 'Abril Fatface', cursive;">Home</a></h2>
</body>

{% endblock %}