@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');


* {
	margin:0;
	padding:0;
	color:#000;
	font-family: 'ZCOOL QingKe HuangYou';
	box-sizing: border-box;
}

.fn-font {
	font-family: 'Noto Sans KR', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}
.whycontainer {
	width:1300px;
	margin:0 auto;
}
header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header > .headerleft {
    height:100%;
    display: flex;
    align-items: center;
	justify-content: space-between;
}
.headerleft > .logo {
    margin-left: 20px;
	font-size: 45px;
}
.headerleft > nav {
    width:400px;
    height: 100%;
    margin-left: 70px;
    margin-top: 17px;
}
.headerleft ul {
    width:100%;
	height: 100%;
	display: flex;
    justify-content: space-between;
}
.headerleft ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
}
header > .signin {
    font-size: 30px;
	margin-right:20px;

}
#visual {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUQEhMVFhUVFRgVFhUXFxcVFRYVFhUWFxUXFRYYHSggGBolHRUWIjEiJSkrLi4uFyAzODMsNygtLisBCgoKDg0OGhAQGi0fHSUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAJ8BPgMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAACAQMEBQYABwj/xAA6EAACAQIEBAQEAwcFAAMAAAABAhEAAwQSITEFBkFREyJhcTKBkaEUI0IHUnKxwdHwFWKC4fEzQ2P/xAAZAQADAQEBAAAAAAAAAAAAAAAAAQMCBAX/xAAmEQACAgICAQMEAwAAAAAAAAAAAQIRAyESMQQTQVEiMmFxFLHR/9oADAMBAAIRAxEAPwCuilililivXPOBililiiWgActKtomYG2pqbZiNq0PA8KNTl33qc8nFFIw5GVXCuY8p120OtTxwK9EwPrW+SwvaiuWhUH5D9kVWBHnf+lXIJjQa12BQiTHTSthxBQoJrLXonQ71uM3JGJQUWS7OMYaAk96mWMa+YDX10qPhcMhAJOvvU7xFXp8+tYlRtEu+xZSBoSKyX4Ri5DDYxr2rSDEgx0nb1qRcwquNaUZcRyjyKG9w5TbBQeYb7iap3QgwRFajiGNFsZRFZzE3ixk9atjbfZHIkMzTq3TTNdVaJ2OXHkyKbJrqSigsctETrWhwvFktoSf0iYGpPoB3rNiqXmLGf/XJAAkxpLH4V9dNx6ioZ6UbZXDblSNw3G7q4bFXbihbthWbLIIUi3nCEjQmI+tUnCOesMbKpfa4CAGLkZpM+ZVyyxMHt0PpWM5j43dzvldsmKsp4gnRiq+ExI6mbUz0msxbEEEfWvO5M7aR7ZzJx2zh7P4iyRcLAeFOxLCQWGh0GsaHpWj5bxTXcNZvMArXLasQNvMJ0n6/OvFsNaOKvpYTMLNvyqdR5Tq9wn95jP1Ar2HA49QgUCAoCgdAAIAFXXKWyTaWi4e5UDGX9NKrb3FwZFQP9Qg96rHGzDyIO5c8OWOpJ+lVuJu5mmIqRir4cTUKK6IohJk7hl3KwmtAkZsx/wDKyaNFW+Fxoj1rGSN7RqEvYvnZT2qJiL+hBqvOLHuKYxl/TQ+9TUCjmMYkrv1qCTTl15po10xRBuziaQUtJTEGDRh4psUtAEcLSxRRSxTEBlpQtHFKBQByGtDwviiqsGqACiBrEoqXZuMnE1R44Jp0cWkVkc1PWrxFSeFG1lZZcV4gzeUVUTR3GmrDhuFUiW3mt6ijO5MiW7hGv+GpqYkkAzr2qffwqEe3aqm5g2BlRp0rCakbaaJhuEmT+mnrnEQBrVTduvsZpm7cJp+nYuYuNvBjNQiKdikK1ZaJN2NxSRTkUJFMQMV1LFdFAhKyXMh/MbfcSP8AiIrXRWT5jvjxTAkqVX1Ok6R1nSuXy/sX7Ojx/uK65h/HFm3mVHB8MEzlkkZVZgDl1nU7TVUbLKxRhDKSrA7hgYIPsa1HBzaQX1dAwTKQsw5LIVU5z5VPiNbjse9MWOFC7i7uUu1sOWLOIYyZYN0zZiwkbxI0rhim3SOttJWy75Vwht2g53fzD0Xp9d/pV94x70wojSimvVhBRikefKTk7CLUJNdSVoyKG0iuBpK6gAhRKaGloGFnri1DXUAdQmipIoAGuiiiuimIRRRsvahFLSGBFKBSgUQFAgIogKfw+Fd/gVm9gTT2I4ddt/GhH3/lS5Lo1T7IcUoFOiyYmDHeNNPWsBzZxl2uNaViEUxA0BZTqT86nlyqCs3DG5M2f4u1IXxUk7DN39tqsUwc/CxmJgpcAI6FXy5SPXavGrbtMyfetjyfzT4WWzfVrlsfD5iCm+u4kajSentXI/JmdHoRNc1sg5SCD2I1qQoZfiBA6SCJ9qznH+ZMdauKpVUDKTbysLisskh1YEnYqYOo7VR4bm7FW7n5jsyEqHVvMIXQkA7NHUVv+VfaMehXueo4fEaCdacxGJWNKpLOIV1V0MqwBU9Y7GNiDII7ijzVdQT2ibm1onXCjD1HfrVbeWiLGgY1uKow3Y3FIaOKQitmAIpCKOKSKAG4ropyKDEXktrnuGFBEnsCQJ9taG6Vglehu/cCqWPQT/YV59xNyxLHqSSfU1tuY3hVGuVhmmCJGw3+elYu6JYdpivP8jJydLo7cMOK2XXJd6b2QoLhew8I0QzqCyqZ01a2o+darEYZbdy6FHxXHc+7MT/WsXyndy4zCkmBnKkxO52+cx6TW/4tbi63rB+1Pxa5v9GfI+0g0sUsV0V6BxnV0UtdQMGuoopIoEKKWuFKKQxK6KKK6KBgxXRRRXRQIGKSKKK6KABpaWK6gDgK0HL3ABfBuOSEBgAbnv8ALpVEord8t3cthVJBidu0z/Wo5pNR0WxRTey3wmDS2oVFCgdB/mtFcsA9B7UqXJqNxnGC1YvXTslp2+ik1w2zrMHx79pmHtM9jD5bmQMpbVVDDSEBTK6g9Z9gRXkt3BtcfOWDFyWiIMnzSekebpTFlDbZiqmQsL89JA7wPlrSHEsxm45k6FZ1IGgmsN2MuOG8G8VvDtnM4EM2yLPY7GtVhOQgVi5flyZzBF09m0Y/WPSs9w7FCyg1KqOg3YmpQ56uI2iLl/ik/Mj+1ZGeg4PldVW0ougPbES1pHRxAEZW8yaAfA6yZJ3qh5z5cQOqZWll/LgRbItoZtWZeFuQubK0AicuoNS+I82NawVvHLbBzuEAJ0zQSZj+E1O4HzIvELJtsPBvRmTcgMplXSQJIMab6+tAFTy1gUtYZ2a4t20pZ1a3LMFA1EAxuDoJqZiMOyHUadD0NZni3FMd+JuohFwrc8NkAPktvJUsVIkdCdNhMk16jw3DpicJad1YF1BYHdWGhB+YNdGHK46fRHJjUtrsx0UMVtLfLVoNOpEbE7nv/wBUB4DbE5Rv31+k10+vEh6MjHZalNh4GYkeoq5xnALggrBjpsap7+CuK2UqZ+tbU1LpmXFx7RDikin7lkjcEU3FUMARTOKYBSx6a696mW8OzTlEwJrOcYxgY5NMu3oZ0n2qWXIoR/JTHByZJ4RxOzbdsLiVBsXFJtkgQpYyyjbKjsgYfusPpEuYngp0W3iQTr4gnyHp5XfX10NUnGiTatvIhZtkAic2ZjqB6L9xvrVbhLZY/T7z/avMO40WM5YvWVTE24u2UY3PHQrl8MAEMVJzDbUQYNbfjq+cMNis/cn+orJcRbE28DksMwFww9uA6tbcZSCrAgTAOmutamyVuWrVrP8Am27YGU6ZwoVWZe/6T866MFwkm+v9IZfqjSIMV0U7dtFTDCDQRXop2cYMV0UcV0UABFdFHFdFACAUoFKBRRQAMV0UUUtIYMUkUcV0UABFdFGRSRQAEV0UcVwFAD+CtgsM21ajAXFAYLp6Vm8ID061LQFeuvpUcisrB0adMbA1qj5/4oycPv5BmZgqQRIh3VWkfwk0n4uYU03zHaz4S+vey/SdlJBjvpXNOFIvGVniStcYlwMojKCPToB1qPZUZoy+YkanbXfajxONYKBJO4idABsAOmhpm3ch17HUe/8An8q5yxf38JnYebRelDe4ZIzMRpsAP6mhF2QD1oLt4xqdPvSA1vA72FxGH/0q+zKzPntMAIVwDA37E6HvWk4JyWLaoHuLmtXBctvbUq5jdXzEgqR0EV5zyzhLbYgF7TsAysCt22twMGDBxaJz3NQPKusbawK9U4RxDNaEkyBGoKnTTUHUGgDNca5cxNziJu4YFF0DXFdgVBALSykFZj4eulan9n3GC4u4R1KPYIBUyZBJBYMTDAkTI7z1rzXmrEucTibtg3PFt3kzw8AWvw6gwBr8S9D12re/s0uk4VrjQbjXXDNABaI1IGknUnuSTWorYmbtnoQwqF+JoxdqlGbJT3/Sod1STqKeW52Fc130prQFZiMOGBBG9U9zBgPH/laO4etUfE2ChrjbKJJ/lHrVYSolOJnOZMcLK+DbMM4ljOy7R8/5e9YZ75ZyAdgdZA0/UfkJPyqTxnHl3Zjux+nYfSqm0ZFxjtliY6kGBPSY+1c05cnZaMeKodsefDXVykspD7jQaEmN5jxPqR2l7htoTA6wB7xA+5+1ReAuTcNqYF0ZDuN9APfUwTsSK0XLOCzXCT8NvXbc6hfbqaUYuTobdKzSpbgBRsAB8gIpGtAxIBjaRMaRp8ifrUjLSZa9VUlR5zu7IVlhaItNpadh4ZO1q4dMnpbfSOgb3qVcslTDAgjodDXXrKupRgCrCCDsQehp7C4hVsst83H8N/y/1O6FVCierSSvm1MCSak28b11/RTU1+SPlroorThhmAIHZhDDqJHQwRRZaqnasm1WhvLXRRxXRTEBFKBRZaULQAMV0UcUsUDAiuijiuy0rACKSKcy0mWmAEV0U5FJFAB2mipNt6jKKn8NshnWdt/pWJUlZuO9BjBvGaOu3WrHCr0O9WD2xFRzgmJkMPnXM58uzoUK6PGf2m8NXD4sBECpcUXBqSCxJDkdtenqO9Zm3hWzZ2+ECZr6C47yjZxtsW785lMpcXR0neJkEGNQew6gV5Nz7yb/AKey5LjPauAkFiA2cRmUgACIIIrmktlkVjxApjxNZo7Jz2wesR9NKhX5WsDL3gfG7Fm4Dcwtu4JHmPxqehWdj61uW4rauPmtvIbedD8/WvI7Qk6AmtVhOH30w12/kYKFCg6TLsqSonWM00AQ8WMTaxV28JV71xygDEZlOqiRHSI9xXrHI2CjBrc1BuO7ZT+kK3hqo9Itj61hOQuVrWMuTee4FsaKqkajN8JJmBrsPWvZsNbRFVFACqAAB0ArcfkyyvSyamLaFOPcFNPdABJ2FbsVDyACgcTVXY47bbMYMKTqIM5d9jp8/esnzBznJKL5QDBXYyP3qy5IdGuxfEbSaSD/AC+vWsZzPx5HAtq0xJPaegrIcU4+7bN9Ko7uNYnUzWXJsdIkcTuDpUTMBabUakCNZkQQe0QG+ooL7yKncPwL3ltoqFmdiVA1mMwHl7ySZmIUE6UhjPAsI9y4otrmYkKqxOY6yI7RM+le38ucIsLh1lMxaWd5kltpBB1ERH1OpNRuSOVLeBXO0NfYQWHwou5RP6t1irPg94I12yT8LlwDlHldmiAv6ZUgTroa3FNbMumVuP4QU1Qlh10gj5darHQjQiK2jEGmcVhw4ggehjauqOZ+5zyxL2MdFCySI/z0NXj8HjUt9q5MHbAkidJ1qjyRomsbsz2BuZ7YfKRM6a6GddevvT0VZ4EhQhInMpDmNc05gx1OhzHTpI9aZxgBOlLHO1Q8kK2QoropzLXZasSG4pQKPLS5aAAApctGFolQmlYxvLXRVpheEXGCvAIPSdY71o7PC7QWCisepI6/2qUsqiUjibMXbsM0kAmN6NcBcOott9DW7s4dEEKoHUx3omcVN+Q/ZFFg+WYgcIvRPhmPX+1QmQgwa9EzCs/xThgdsy6HrpvThnt7FLDrRnVFTsNiMu1RAKMVZqySdE78c1S7HEoqoFEKw4JmlNo0A4sD6VQc48F/1GwbQbLcQ57bdA0QQ3+0jQ/I9KUGpWCxGU7gDck9AN6nLEqKRyNs8gTht7Dq1u9bZGV9ipAMjXKdmGm471CxIre82814XH20tYcsxSbjMVKgD4QNdyd/lWGxe9cb7OkDhY/MCgEknpXquJUvgbqqoJFuQhAOqjMBB0O1eWcPkXAUMMTA969m4HgWuWTavjR0Kt3KsIP2NZAicicNu2bTXLyeG1wiLcBSqjuoACkkkx0061pTerG8L5ku4ZbeExtu411bhs+Mil1e2uiXmKzv5QRvuY3rT4wlVLCCZgTt7+wqyaSMOxy/jFT4jvsOprJcy8xXfBPhQobxLZkBmBRirb6aqQw0pOI4woSSZJET1J129BWEx/FCXedMxzR67H7R9Kw530aSK6zbZGF60SrIQ0AmJHeNxpEVN4i5uK/79mT63MPurHuyAie6mf0GavDYiHIJ0JKn2br8tDVrfvBJJ0u2CtskRDAKArEHfTyn0KdzSGUTXQRQI8mixeGAOZPgbb/aeqn26enzq55c4JcxD5LSy2knZUH7zt09tzQBDwmCe6wRVLFtAqiST6V6zyTwUYa2WfKbklZBkIvlzKpjYka94qTwPgFvBW2cDO+Ul7kakASVUfpGn96ruKc42sKptlTcvAkFFIyr+6DciIiBoCdNdaoo1tmG76Nf4tVruUxaaaXlKnpBQEhttZkL6ad684xP7QMYxOTw7Y9EzH6vIP0osBzjirjL4l2Y/wBlsSCQSNFG+UD5mhzQKLPZUtgUjkd6zmB48HUFmEnfpr7U9cxhnetxXLozKXHsn43EgCqHGYklDMxG3f001k+lO3rk1ExXwkb7evXXb0muiMKRCU7ZHt2/y46qSRpsZzCAe1SFMift29NK61uw7N/QER2EEfShw6wWTpMjYaHUgAep+9aWjD2FloxYMZo071bYLgjvqfKPv9K0y4BMoUqCB31rE8yibhibMtw3grOVYjyEEn7x/Sp97lgRo5B9ROnatFbYARTN69UXmk3ossUUtlDb5Z1E3NOumvy1qdb4ZaQEAHXQ67jt7VMF6mnu1l5JPtmlCK6QltFSFXYfOnHvgVDdp6026DvSoY/dxnamDfNDbAFG91aYBpf70Pj0ybopJFAGbAogKKKUCu04hAKUClimcXiltjzbnYDc/wBhSbSVsaVjwFROMhWsXLLPk8VGSdzDCDAGp3qE3FnJgZV1/iP12+1MPaNzqS3Q7mfSuaedVSLwxO9mY4Ty+tl3hgxYZdJIAmT8QB1PpWt4RyhabzXlMdFmJ96sOE4NCAcge6o1CkFJk6TMA+jd9Jqwx2PxFlGufhlIUSYvAGB6Za5WdAyeVMFbIupZGYd8x+cExNXGHujpXkvHOc799lK3DYywYDkEMJnUKcw1jatQeZi6WXV8i3Fkv4eVrhGUFrYecq76sCT6blAbDHXWyHL/AOTpPy3+VSEsyI3isM3G8M2lxVfXe5+Yfq0x7DSjPOYtXEVcgs7MRIK9iAOmn3oAh/tDx9+w4RLYyZQXZpAYEmVU7AjTU96824liAWzAb6zPTt2/8r2bEY8Y/BPJts4VjNskqGSdIaGBIEwR8zvXjWLw6m3ObVJMT0zEMI+h+dNAQVuferNsb4t5mOmdFzfxBApP1WapBTtlvMK0ItbFwK3mByzDqInQ6lCdA28GvdOBJh0sp+GAFpgGWN2kbsTqW7zXhl+HAcbxDD1X/qPvWv8A2e8ZKk4RzoZa1Pfd0+e4+dax1dMzO0rPTcY0rplJmQG+EkbBtD77HYV4VjlKlg05gSDP706z85r2ItWI505ddmbE2QSGH5ijUg/vAdRpr66+1cmJ1aJwyW6Zg3aut3NaNrVILH9vnXOXNVy3jjmRJ+JgAO0tXoZrI8lcvOh/EXhBj8tDuJ0LMOmmw9a2EV2YIOKtnLmlbpAxTd9JAH+4HadjP9N6fimro8yCJ1J/hAU6+8wP+RqsuiS7BtjzMPbp6a69d6tcIEXJcGrKfNMAZD8Uk9okbaxVfZtzcIG+UGJ13MnL0G2vX5CtFhVQWihGjAqwI1MiDNSyP6aK41uy1LAGuuXxVPhMfKQ3xDynWTptJgeaInTem7uLqCiXssLuJjao1zFzUFr9NNdrVCsnHF002KqGXpM1OhWS/wARSG+ajZq7PToVkjxTRKZqKHFT8JanU0NUCdiLbnanRhzU0QKF7lTs3RlopQKnWcAWEijfhjLqYj03rr5o5uDKy64RS7GABNYfiHEiWLMdz9B0HtWx5sUW7ENIzMI9QvmP8hXlXEcSYbU6zEaEe3b3rlzTt0XxRpWXuA4orZQSMxYrHWP8FX3B+ZsNbMeYGDJZdZEwFAOg9f5V5rwhj4qnfc+u1SbzMp1Me+/sB1qBU9cw3NVptmHt/wBU7xHi4ew4EecFVJIAIPlJE7xPSvJLHFRZIi2jv/8Ap5o7Fl+Ed41PqKl4fmC+WbI/nYANeK5rkgyFsjZewEeulKgLPEcGspaxLsyi6mXIM0t4jpcCAgfCczWyBv33pyxxj8ThjbulWv2Ym0QVa5lnO6ONmKlToZ/LbQg0w/J+LuoL4UKS4uCyTnYMNQ7nTMSZ0HeqpOXMUHzhXFxTI0bTLtvrTA7EonxI7kQCVMG4s/7RGceo+gpMLhxdP5d+yT2a4to/IXMs/Kaj4g5ZFwNoZiMr2/l+pQeo6RtUe9aRhOZWPRtp9H/v9ZoA9J5dL4cRffDqhB83jWviMDYNrpNeZcxYJbV+5bttmXNCkT5tADHfzTTvDPw5uZb7XLSjcqufXpoCNPrWr5R4PbxHEAyNntWbQuBypUFyYSVIkEEk/wDCnFbEzJ8Y5YxGGs2710ABzBUGWQxID6QDAOxO1U67/Ove+c+BtcwV5AuZwudQNSSpmAOpifrXg923Brc0k9GYttbJGYqDHcf2/rT2HvsGVgYYEFT2YGQR86ZI0Psf7/0qVwrD5mHoRHuSAPuRWDR7TZfMqt3AP1E0YpUSAB2EfSlivRXRwsr8XwTD3DmeyhJ3IlSfcrE0uD4Nh7Rm3aVT0MSR7EyRVjFdFLiu6Hb+REQnQCasMPwknVjAruFrBJ9Iq0F0RuKnPI06RSGNNWyKvBAf1H6CoTcK/PS2SfhLTlECQ0azIJCN0I31Gk3KYoDrXm3OnO1xMQ9rDFVZCQbxWXkoEe1bkRllQZPUekmLySKrHE3L4VbV0RoCkSYiQSTJOs7R039Kd/EWjoHQn0ZT/WvBeIcRuYhw112YgfE7Fjr6k6dKcwWLKkZCAOomRp3XrWObN8T2TFOEugR5XWSSeo0lQBqAB5iSIBWnnw5rG8C4u7korANOUkQQASAdD7dOoFb8ZQABsBHetRlYmit/DmufCkDNuO9T2YUqXTEDX5VuzNFPFdU5+HvuB/ektcPYnXSqqUSLUiFSRVwuBXaNPvTqYVF/SPnrWfURr0mUimpVnEkVPewnRR9Kb8BOwpOaZpQaGziDTbYg0bWO1MNZNZSQ22XFjEW8xRXQldCoYFh7jcU8SDv7189Yrj1tiXLOWJJ2jU66EHSmrvM7MnhvevMu5RiXSfYmo8itHoX7WrTzZvpfISDbNtSIDatnkdxof4RXk2KvP1IPvv8AUVLucTU/DA0iApE/eoV05gfrWQEwuNhxAK7rI1Osx/SpF92JLLI7u3xfLt8qprgIq34cPEUu8tlgESdT0HpQwAwmELGFBOsEzH1Y6D23rU8Lu2MLDOwLAaBRMf5/7VfbwV1hoAi+kHTso2A/w0/Y4Ek5mBY+pmkMtn5rxIKvae0iqBKsxZGE7kFA07TkYx6Vf3+NXfCN2z5igzPLqUUatJZj8MDc9CeomqLhfL1ozde3KqCenTcxNaLjXLeFsWLYOHRi4FpmAAcM4JOV4mSQonYAHoTKApHa9iwb2NTDW7R0V0OufoQfEMiOu3rUHGco2SPyrysR2mD7xJ+e1bHgPJmB/CiFNxboFwM2YQGEqUWfIYj1qLj+S7qgnCYq6v8Asd2YadATsPpQB5s+BdXNtiARtmAP0bqK9W/ZrwzwMMbh+K80z1yJ5Vn55j86xb4prhGHxH/zW38NmIBMzCjOu412IMdxXrFiwqKqLsoCj2AiqQ7EyYT615hz9yTevYlb2Ftgi7pcEhQj9XM/pI1MSZB716SpFEG7VtqzNnzlcssjsjiCrFWHYgwwrdcq8oXVZLl4ZFVg+U/ExGq6dADG/wD3WwxXJeEuYh8TcDMXIYpMW8wAkwBJmJImN6vmdaUY72EnorCK6Kk3rk6AUyVrrTOVoEClilAowKYhFMUYc96GK6KzQ0w/ENeX898ONvEMwHluk3AfU/H9/wCYr06Ki8T4ZbxCG3cGm4I+JT3FTyQtFISpniYeNN+vqPam4Osfz9a2nEOR76NKBbi9wQpHuGP8iah4HkTFudUVFn4mdTA9lnWubi/g6LR3Jq3LmIt20J8xl40UINWOnp9z617OyL2rPcs8vW8IpCmXb47hGp9AOi+laELIrajRm7DDJ2FHbuqKhZY3pTFOgsmtiBQvfnaoJFDPrRQWSzc9abZ/Wo80WSnQWOB6XLTRaKQXTRQrHtaTMOtMPdpBep0Fo//Z);
	background-size: cover;
	background-position: 0% 20%;
	width:100%;
    height:300px;
    
    display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}
#visual * {
	color:white;
}

#visual h2 {
	font-size:30px;
}

#visual p {
	margin: 30px 0;
}
.btn {	
	width:120px;
	padding: 8px 12px;
	border:3px solid #ddd;
	background-color: #0a0a0a;
	border-radius: 4px;
}

.btn:hover {
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

#content {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

#content > .item {
	width:30%;
}

.img {
	width: 100%;
	height: 250px;
}

.img > img {
	width: 100%;
	height:100%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.item .info {
	background: #fff;
	padding: 20px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.button-row {
	width: 100%;
	text-align: right;
}

.btn-sm {
	padding: 8px 12px;
	font-size:12px;
	color:white;
	width:auto;
	border:2px solid #ddd;
}

.info > h4 {
	font-size:30px;
	color:rgba(0,0,0,0.9);
}
.info > p {
	color:#555;
}