{% extends 'base.html' %}
{% block content %}


<br>
<div class="container">

    <div class="row">

        <h2>유저 게시판</h2>
    </div>


    <div class="row">
    <div class="input-group mb-3">
        <form method="POST" id="searchFm" action="{% url 'lb_filter'%}">
            {% csrf_token %}
            <div class="input-group-append" style="position: absolute; left: 50%; top:50%;" >
                <select class="custom-select" id="inputGroupSelect04" name="search_mode" style="width: 120px;">
                    <option value="title">제목</option>
                    <option value="body">내용</option>
                </select>
                <input type="text" name="search_data" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2" style="width: 500px;" >
          <button type="submit" id="button-addon2" style="border: none; margin-left: 8px; margin-bottom: 4px;">
              <img src="https://www.pinclipart.com/picdir/middle/91-919100_search-prism-learning-solutions-search-icon-svg-free.png" alt="" width="40px" height="40px">
            </button>
        </div>
        </form>
    </div>
    </div>
    <br>
    <hr style="border:black solid 1px;">
    <div class="lawboards_list" style="margin-top: 50px; ">
        <div class="row"  >
            {% for lb in lawboards%}
            <div class="col-6" style="border-bottom: solid rgb(163, 163, 163) 0.02px; margin-top: 6px;">
            <a href="{%url 'lb_detail' lb.id %}" style="text-align: left; "><p>{{lb.title}}</p></a>
            </div>
            <div class="col-3" style="border-bottom: solid rgb(163, 163, 163) 0.02px; margin-top: 6px;">
                <p>{{lb.writer}}</p>
            </div>
            <div class="col-3" style="border-bottom: solid rgb(163, 163, 163) 0.02px; margin-top: 6px;">
                <p>{{lb.pub_date}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="lawboards111">
        {%if lawboards.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{lawboards.previous_page_number}}">Previous</a>
        {%endif%}

        <span>{{lawboards.number}}</span>
        <span>of</span>
        <span>{{lawboards.paginator.num_pages}}</span>

        {%if lawboards.has_next%}
        <a href="?page={{lawboards.next_page_number}}">Next</a>
        <a href="?page={{lawboards.paginator.num_pages}}">Last</a>
        {%endif%}
    </div>
    <br>
    <div class="row">
        <div class="col align-self-end" style="text-align: right;">
            <a href="{% url 'lb_new'%}">
                <img src="http://cdn.onlinewebfonts.com/svg/img_458789.png" alt="" width="40px" height="40px;" style="border-bottom: solid 3px; padding: 5px;"> 
            </a>
        </div>
    </div>

</div>
{%endblock%}