{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center; font-family: 'Roboto', sans-serif; font-family: 'Abril Fatface', cursive;">Edit Page</h1>

<div class="container">

    <form action="{% url 'lb_update' lb.id%}" method = "POST">
        {%csrf_token%}
        <div class="row">
            <div class="col">
            <div class="form-group">
                <label >Title</label>
                <input type="text" name = "title" class="form-control" id="Title" placeholder="제목" required="required">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Scrap</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      {%for i in tmp%}
                      <option name="bring">{{i.title}}</option>
                      {%endfor%}
                    </select>
                  </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content</label>
                    <textarea class="form-control" name="body" id="" cols="30" rows="20" placeholder="내용"  required="required"></textarea>
                  </div>
            </div>
        </div>
        <div class="row" width=100% style="text-align: center;  margin-bottom: 70px;">
            <div class="col">
                <button type="submit" class="btn btn-outline-dark" style="background-color: black; color: white;" >작성</button>
            </div>
        </div>
        
    </form>
</div>


{%endblock%}