<h1>detail page</h1>
<br><br>
<h1>제목 : {{mb.title}}</h1>
<h7>작성 시각 : {{mb.pub_date}}</h7>
<h7>작성자 : {{mb.writer}}</h7>
<p>내용 : {{mb.body}}</p>

<a href="{% url 'mb_edit' mb.id%}">글 수정</a><br>
<a href="{% url 'mb_delete' mb.id%}">글 삭제</a>

<br><br>

<h5>Comment</h5>
{%for comment in comments.all%}
<table>
    <tr>
        <th style="padding: 10px;">
            <span style="padding: 8px; ">{{comment.comment_writer}}</span>
        </th>
        <td>
            <span>{{comment.comment_content}}</span>
        </td>
        <td><a href="{% url 'mb_commentd' comment.id%}">삭제하기</a></td>
    </tr>
</table>
<hr>
{% endfor %}

{% if user.is_authenticated %}
<!-- 로그인 상태가 아니면 댓글 못씀-->
<form action="{% url 'mb_comment' mb.id%}" method="POST">
    {% csrf_token %}
    <div>
        {{user.username}}<br>
        <textarea name="content" class="form-control"></textarea>
        <button type="submit">작성</button>
    </div>
</form>
{% endif %}