
{% extends 'base.html' %}
{% block content %}

<br>
<div class="container" >
<h2 ><span ><a href="{% url 'mb_list' %}" style="color: black;">매칭 게시판</a></span></h2>
<br><br>

<h1>{{mb.title}}</h1>
<div style="text-align: right;">
<h5 style=" border-top: solid black 3px; background-color: rgb(211, 212, 212);">{{mb.writer}} <span style="font-size:0.5em; margin-left: 8px;">{{mb.pub_date}}</span></h5>
</div>
<br>
<p style="text-align: right; font-size: 1em; font-family: 'Sunflower', sans-serif;" >tag:{{mb.law}}</p>
<p style="font-size: 1em; margin-left: 5px;">{{mb.body}}</p>
<div style="text-align: right;">
    <label id="img_category_label"class="field"for="img_category"data-value="">
        <div id="img_category"class="psuedo_select"name="img_category">
            <span class="selected"></span>
            <ul id="img_category_options"class="options">
                <li class="option"data-value="opt_2"><a href="{% url 'mb_edit' mb.id%} " style="color: black; font-family: 'Sunflower', sans-serif;">수정 </a></li>
                <li class="option"data-value="opt_2"><a href="{% url 'mb_delete' mb.id%}" style="color: black; font-family: 'Sunflower', sans-serif;">삭제</a></li>
            </ul>
        </div>
    </label>
</div>
<br><br>

<h5 style="border-top: solid rgb(163, 163, 163) 0.02px;">댓글</h5>
{%for comment in comments.all%}
<div class="container">
    <div class="row">
        <div class="col-2">
            <span>{{comment.comment_writer}}</span>
        </div>
        <div class="col-8">
            <span>{{comment.comment_content}}</span>
        </div>
        <div class="col-2">
            <span><a href="{% url 'mb_commentd' comment.id%}" style="color: black;">Del</a> </span>
        </div>
    </div>
</div>

<hr>
{% endfor %}


{% if user.is_authenticated %}
<!-- 로그인 상태가 아니면 댓글 못씀-->
<form action="{% url 'mb_comment' mb.id%}" method="POST">
    {% csrf_token %}
    <div style="margin-bottom: 80px;">
        {{user.username}}<br>
        <textarea name="content" class="form-control"></textarea>
        <div style="text-align: right;">
        <button  type="submit" >작성</button>
        </div>
    </div>
</form>
</div>
{% endif %}
{%endblock%}