{% extends 'base.html' %}
{% block content %}

<br>
<div class="container">

    <div class="row">

        <h2>매칭 게시판</h2>
    </div>

    <hr style="border:black solid 1px;">
    <div class="lawboards_list" style="margin-top: 30px; ">
        <div class="row"  >
            {% for mb in meetingboards%}
            <div class="col-5" style="border-bottom: solid rgb(163, 163, 163) 0.02px; margin-top: 10px;">
            <a href="{%url 'mb_detail' mb.id %}" style="text-align: left; "><p>{{mb.title}}</p></a>
            </div>
            <div class="col-3" style="border-bottom: solid rgb(163, 163, 163) 0.02px; margin-top: 10px;">
                <p>{{mb.law}}</p>
            </div>
            <div class="col-2" style="border-bottom: solid rgb(163, 163, 163) 0.02px; margin-top: 10px;">
                <p>{{mb.writer}}</p>
            </div>
            <div class="col-2" style="border-bottom: solid rgb(163, 163, 163) 0.02px; margin-top: 10px;">
                <p>{{mb.pub_date}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="lawboards111">
        {%if meetingboards.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{meetingboards.previous_page_number}}">Previous</a>
        {%endif%}

        <span>{{meetingboards.number}}</span>
        <span>of</span>
        <span>{{meetingboards.paginator.num_pages}}</span>

        {%if meetingboards.has_next%}
        <a href="?page={{meetingboards.next_page_number}}">Next</a>
        <a href="?page={{meetingboards.paginator.num_pages}}">Last</a>
        {%endif%}
    </div>
    <br>
    <div class="row">
        <div class="col align-self-end" style="text-align: right;">
            <a href="{% url 'mb_new'%}">
                <img src="http://cdn.onlinewebfonts.com/svg/img_458789.png" alt="" width="40px" height="40px;" style="border-bottom: solid 3px; padding: 5px;"> 
            </a>
        </div>
    </div>

</div>

{%endblock%}