{% extends 'base.html' %}
{% block content %}


<div class="container" style="margin-top:40px;">
    <div class="row">
      <div class="col"><h2>{{board.title}}</h2></div>
    </div>
    <div class="row">
      <div class="col"><p>
        <strong>질문</strong><br>{{board.question}}
      </p></div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <strong>답변</strong><br>{{board.answer}}
            </p></div>
      </div>
      <strong>관련생활분야</strong><br>
      {{board.relevant_area}}<br>
      <strong>관련법령</strong><br>
      {{board.relevant_rule}}<br>
      <a href="{% url 'detail_scrap' board.id cat_name %}">scrap</a>
  </div>


{% endblock %}