{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 70px; margin-bottom: 120px;">
  <div class="row">
     <h1>{{board.title}}</h1>
  </div>
  <hr>
  <div class="row">
      <p style="font-size: 2em;">Q. <span style="font-size:0.6em">{{board.question}}</span></p>
  </div>
  <div class="row"> 
      <p style="font-size: 2em;">A. <span style="font-size:0.6em"> {{board.answer}}</span></p>
  </div>
  <div class="row">
    <p style="font-size: 1em; font-weight: bold;">관련생활분야-> <span style="font-size:0.7em">{{board.relevant_area}}</span></p>   
  </div>
  <div class="row">
    <p style="font-size: 1em; font-weight: bold;">관련법령-> <span style="font-size:0.7em">{{board.relevant_rule}}</span></p>   
  </div>
  <div class="row" style="position: absolute; left: 78%;">
    <a href="{% url 'detail_scrap' board.id cat_name %}" style="color: black;" >스크랩</a>
  </div>

</div>

{% endblock %}