{% extends 'base.html' %}
{% block content %}

<div div class="container-fluid" style="display: flex; justify-content: space-between;">
    <div style="margin-top:40px; margin-left: 40px; margin-bottom: 70px;">
        <div class="col" >
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action ">가정법률</a>
                <a href="#" class="list-group-item list-group-item-action">교통/운전</a>
                <a href="#" class="list-group-item list-group-item-action">국가 및 지자체</a>
                <a href="#" class="list-group-item list-group-item-action">국방/보훈</a>
                <a href="#" class="list-group-item list-group-item-action">근로/노동</a>
                <a href="#" class="list-group-item list-group-item-action">금융/금전</a>
                <a href="#" class="list-group-item list-group-item-action">무역/출입국</a>
                <a href="#" class="list-group-item list-group-item-action">문화/여가생활</a>
                <a href="#" class="list-group-item list-group-item-action">민형사/소송</a>
                <a href="#" class="list-group-item list-group-item-action">복지</a>
                <a href="#" class="list-group-item list-group-item-action">부동산/임대차</a>
                <a href="#" class="list-group-item list-group-item-action">사업</a>
                <a href="#" class="list-group-item list-group-item-action">사회안전/범죄</a>
                <a href="#" class="list-group-item list-group-item-action">소비자</a>
                <a href="#" class="list-group-item list-group-item-action">아동·청소년/교육</a>
                <a href="#" class="list-group-item list-group-item-action">정보통신/기술</a>
                <a href="#" class="list-group-item list-group-item-action">창업</a>
                <a href="#" class="list-group-item list-group-item-action">환경/에너지</a>
            </div>
        </div>
    </div>

    <div class="container" style="padding-bottom:70px; width: 100%; margin-right: 400px; ">
      
        <div class="row" >
            <form method="POST" action="{% url 'search'%}" style="padding-bottom:0px; margin-top: 10px; position: absolute; left: 62%; ">
                {% csrf_token %}
                <div class="input-group mb-3" style="width: 350px; padding-bottom: 0px;">
                    <input type="hidden" name="identity" value={{cat_name}}>
                    <input type="text" class="form-control" placeholder="카테고리" aria-label="Recipient's username"
                        aria-describedby="button-addon2" name="search_data" required="required">
                    <div class="input-group-append">
                        <button type="submit" id="button-addon2" style="border: none; margin-left: 8px; margin-bottom: 4px;">
                            <img src="https://www.pinclipart.com/picdir/middle/91-919100_search-prism-learning-solutions-search-icon-svg-free.png" alt="" width="40px" height="40px">
                        </button>
                    </div>
                </div>
            </form>
            {% if error %}

            {{error}}<br>
            {% endif %}


            <div class="container-fluid" style="margin-top: 70px;">
                <ul class="list-group">
                    {% for out in output %}
                    <li class="list-group-item "><a href="{% url 'board_detail' out.id out.catagory %}">{{out.title}}</a></li>
                    {% endfor %}
                </ul>
            
            </div>

        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for i in F_boards %}
                    <li class="list-group-item" style="padding:28px;"><a
                            href="{% url 'board_detail' i.id cat_name %}">{{i.title}}</a></li>
                    {% endfor %}
                </ul>
                <div class="paginator11" style="text-align: right; ">
                    {%if F_boards.has_previous%}
                    <a href="?page=1">First</a>
                    <a href="?page={{F_boards.previous_page_number}}">Previous</a>
                    {%endif%}

                    <span>{{F_boards.number}}</span>
                    <span>of</span>
                    <span>{{F_boards.paginator.num_pages}}</span>

                    {%if F_boards.has_next%}
                    <a href="?page={{F_boards.next_page_number}}">Next</a>
                    <a href="?page={{F_boards.paginator.num_pages}}">Last</a>
                    {%endif%}
                </div>
            </div>
        </div>


    </div>
</div>

<script>
$('#myList a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

{% endblock %}