{% extends 'base.html' %}
{% block content %}
<section id="visual">
    <h2>곤경한 상황에 처했는데 법률적 지식은 없고 어떻게 해야할지 모르시겠다구여?!</h2>
    <p class="fn-font">우리는 최고의 법률 제공 사이트입니다.<br>우리의 법률제공은 사용자들에게 최고의 경험을 선사할 것입니다.</p>
    <button class="btn fn-font">법률 검색</button>
</section>

<section id="content">
    <div class="item">
        <div class="img">
            <img src="item1.png">
        </div>
        <div class="info">
            <h4 class="fn-font">Best Post 1</h4>
            <p class="fn-font">
                게시물 중에 조회수가 많거나 관심이 많은 글들 파싱해서 메인으로 빼는 기능?
            </p>
            <div class="button-row">
                <button class="btn fn-font btn-sm">글 보러가기</button>
            </div>
        </div>
    </div>
    <div class="item">			
        <div class="img">
            <img src="item2.png">
        </div>
        <div class="info">
            <h4 class="fn-font">Best Post 2</h4>
            <p class="fn-font">
                지금 페이지 너무 조잡해보이나요? 그냥 이런 메인페이지 빼버리고 원래 얘기했던데로 
                메인에 바로 법률 검색 기능 띄울까요??
            </p>
            <div class="button-row">
                <button class="btn fn-font btn-sm">글 보러가기</button>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="img">
            <img src="item3.png">
        </div>
        <div class="info">
            <h4 class="fn-font">Best Post 3</h4>
            <p class="fn-font">
                이거 그냥 저혼자 해본거라 이 디자인 꼭 안가져가도되고 이거 완성본아니라 진짜 대충해본거에요 디테일은 고치면되여 색이나 디자인 등등 
            </p>
            <div class="button-row">
                <button class="btn fn-font btn-sm">글 보러가기</button>
            </div>
        </div>
    </div>
</section>
</div>


{% endblock %}