{% extends 'base.html' %}
{% block content %}
<section id="visual" style="width: 100%; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0.3)), url(http://www.crblaw.net/uploads/bw31509003/201701/fb85435365869463052d640b8c3b56f4_crop.jpg?t=159b5b3181e);">
    <h2></h2>
    <p class="fn-font" style="font-family: 'Roboto', sans-serif; font-family: 'Nanum Myeongjo', serif; font-size: 2em; color: white; padding-top: 0; margin-top:0 ;">쉽고 빠른 법률검색</p>
</section>

<section id="content">
    <div class="item">
        <div style="text-align:center ;" class="img">
            <img  src="https://data.silhouette-ac.com/data/thumbnails/8f/8f0218f6584480401f28d4790ffd99a7_t.jpeg">
        </div>
        <div>
            <p style="text-align: center;">
                <br>
                <br>
                <a href="" style="color:black;">Today's Hit Board 1</a></p>
        </div>
    </div>
    <div class="item">
        <div style="text-align:center ;" class="img">
            <img  src="https://data.silhouette-ac.com/data/thumbnails/8f/8f0218f6584480401f28d4790ffd99a7_t.jpeg">
        </div>
        <div>
            <p style="text-align: center;">
                <br>
                <br>
                <a href="" style="color:black;">Today's Hit Board 2</a></p>
        </div>
    </div>
    <div class="item">
        <div style="text-align:center ;" class="img">
            <img  src="https://data.silhouette-ac.com/data/thumbnails/8f/8f0218f6584480401f28d4790ffd99a7_t.jpeg">
        </div>
        <div>
            <p style="text-align: center;">
                <br>
                <br>
                <a href="" style="color:black;">Today's Hit Board 3</a></p>
        </div>
    </div>
</section>
</div>


{% endblock %}